{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}


<div class="chatbox">
  <div class="chatbox__support chatbox--active">
      <div class="chatbox__header">
          <div class="chatbox__image--header">
              <!-- <img src="https://img.icons8.com/color/2x/circled-user-male-skin-type-4.png" width="90px" alt="image"> -->
              <img id="placeholder" src="{{ url_for('static', filename='court_prosecutor.jpeg') }}" width="256px" height="256px">
          </div>
          <div class="chatbox__content--header">
              <h4 class="chatbox__heading--header">Mock Trial Testimony</h4>
              <p class="chatbox__description--header">Prosecutor</p>
          </div>
      </div>
      <div class="chatbox__messages">
          <div></div>
      </div>
      <div class="chatbox__footer">
        <input type="checkbox" id="voiceInteraction" name="voiceInteraction">
        <label for="voiceInteraction" class="voice-interaction-label">
          <button class="image-button">
            <img src="https://img.icons8.com/?size=512&id=85836&format=png" alt="Voice Interaction" />
          </button>
        </label>
        
        <input type="text" placeholder="Write a message..." autofocus=autofocus>
        <button class="chatbox__send--footer send__button">Send</button>
        <button class="chatbox__send--footer reset__button">Reset</button>
      </div>
  </div>
</div>

{% endblock %}
